{# app/Resources/FOSUserBundle/views/Profile/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/profile.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Two forms, one to edit profile and one to change password -->
    <section>
        <div class="container-fluid">
            <div class="row boxing-canvas mt-50 pb-50">
                <!-- Profile form start -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 normal-subtitle-text mb-30">
                            <h5 class="text-center degradeblue mb-30" style="font-size: 18px;"><i class="fas fa-user-edit text-center degradeblue" style="font-size: 18px;"></i> Modifier votre profil</h5>
                            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' }} ) }}
                            <!-- Modifying firstname -->
                            <div class="form-group col-md-6">
                                {{ form_label(form.firstName, 'Votre prénom :') }}
                                {{ form_widget(form.firstName, {'attr': {'class':'form-control', 'placeholder': user.firstname }} ) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                            <!-- End modifying firstname -->

                            <!-- Modifying lastname -->
                            <div class="form-group col-md-6">
                                {{ form_label(form.lastName, 'Votre nom :') }}
                                {{ form_widget(form.lastName, {'attr': {'class':'form-control', 'placeholder': user.lastname }} ) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                            <!-- End modifying lastname -->

                            <!-- Modifying email -->
                            <div class="form-group col-md-12">
                                {{ form_label(form.email, 'Votre email :') }}
                                {{ form_widget(form.email, {'attr': {'class':'form-control', 'placeholder': user.email }} ) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <!-- End modifying email -->

                            <!-- Modifying phone number -->
                            <div class="form-group col-md-12">
                                {{ form_label(form.phoneNumber, 'Votre numéro de téléphone :') }}
                                {{ form_widget(form.phoneNumber, {'attr': {'class':'form-control', 'placeholder': user.phonenumber }} ) }}
                                {{ form_errors(form.phoneNumber) }}
                            </div>
                            <!-- End modifying phone number -->

                            <!-- Submit button -->
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary backblue-btn" value="{{ 'Modifier votre profil'|trans }}"/>
                            </div>

                            {{ form_end(form) }}
                        </div>

                        <div class="col-md-6 normal-subtitle-text mb-30">
                            <h5 class="text-center degradered mb-30" style="font-size: 18px;"><i class="fas fa-user-lock text-center degradered"></i> Modifier votre mot de passe</h5>
                            {{ form_start(formPassword) }}
                            <!-- Current password -->
                            <div class="form-group col-md-12">
                                {{ form_label(formPassword.current_password, 'Entrer votre mot de passe actuel :') }}
                                {% if formPassword.current_password.vars.errors|length %}
                                    {{ form_widget(formPassword.current_password,
                                        formPassword.current_password.vars|merge({'attr': {'autofocus': null, 'class':'form-control', 'placeholder': 'Entrez votre mot de passe actuel'|trans}} ) ) }}
                                    {{ form_errors(formPassword.current_password) }}
                                {% else %}
                                    {{ form_widget(formPassword.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe actuel'|trans}} ) }}
                                {% endif %}
                            </div>
                            <!-- End current password -->

                            <!-- New password -->
                            <div class="form-group col-md-12">
                                {{ form_label(formPassword.current_password, 'Entrer votre nouveau mot de passe :') }}
                                {% if formPassword.plainPassword.first.vars.errors|length %}
                                    {{ form_widget(formPassword.plainPassword.first,
                                        formPassword.plainPassword.first.vars|merge({'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': 'Entrez votre nouveau mot de passe'|trans}} ) ) }}
                                    {{ form_errors(formPassword.plainPassword.first) }}
                                {% else %}
                                    {{ form_widget(formPassword.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nouveau mot de passe'|trans}} ) }}
                                {% endif %}
                            </div>
                            <!-- End new password -->

                            <!-- New password's confirmation -->
                            <div class="form-group col-md-12">
                                {{ form_label(formPassword.current_password, 'Confirmer votre mot de passe :') }}
                                {% if formPassword.plainPassword.second.vars.errors|length %}
                                    {{ form_widget(formPassword.plainPassword.second,
                                        formPassword.plainPassword.second.vars|merge({'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': 'Confirmez votre nouveau mot de passe'|trans}} ) ) }}
                                    {{ form_errors(formPassword.plainPassword.second) }}
                                {% else %}
                                    {{ form_widget(formPassword.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre nouveau mot de passe'|trans}} ) }}
                                {% endif %}
                            </div>
                            <!-- End new password's confirmation -->

                            <!-- Submit button -->
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-warning backred-btn" value="{{ 'Modifier votre mot de passe'|trans }}"/>
                            </div>
                            <!-- End submit button -->

                            {{ form_end(formPassword) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Registration confirmation modal -->
    {% for message in app.flashes('resettingsuccess') %}
        <!--  Symfony > 3.3 -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-galibelum">
                    <div class="modal-body">
                        <p class="light-blue-subtitle-text"><i class="fas fa-envelope" aria-hidden="true"></i> {{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary backblue-btn white-color" data-dismiss="modal">{{ 'Fermer'|trans }}</button>
                    </div>
                </div><!-- modal-content end -->
            </div><!-- modal-dialog end -->
        </div><!-- modal end -->
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/login_script.js') }}"></script>
{% endblock %}