{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
    <!-- Two forms, one on profile editing and the other one on password -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Profile form part -->
                    <h3 class="col-md-12 text-center">Modifier votre profil</h3>
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    <div class="form-group col-md-6">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.email, 'Email :')}}
                        {{ form_widget(form.email, {'attr': {'class':'form-control' }}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_label(form.phoneNumber) }}
                        {{ form_widget(form.phoneNumber) }}
                        {{ form_errors(form.phoneNumber) }}
                    </div>
                    <div class="col-md-12 text-center">
                        <input class="btn btn-primary" type="submit" value="{{ 'Modifier votre profil'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div><!-- End Profile form part -->

                <!-- Password form part -->
                <div class="col-md-6">
                    <h3 class="col-md-12 text-center">Modifier votre mot de passe</h3>
                    {{ form_start(formPassword) }}
                    <!-- Current Password -->
                    <div class="form-group col-md-12">
                        {{ form_label(formPassword.current_password, 'Entrez votre mot de passe actuel :') }}
                        {% if formPassword.current_password.vars.errors|length %}
                            {{ form_widget(formPassword.current_password,
                                formPassword.current_password.vars|merge({'attr': {'autofocus': null, 'class':'form-control', 'placeholder': 'Entrez votre mot de passe actuel'|trans} }) ) }}
                            {{ form_errors(formPassword.current_password) }}
                        {% else %}
                            {{ form_widget(formPassword.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe actuel'|trans} }) }}
                        {% endif %}
                    </div>
                    <!-- New Password -->
                    <div class="form-group col-md-12">
                        {{ form_label(formPassword.current_password, 'Entrez votre nouveau mot de passe :') }}
                        {% if formPassword.plainPassword.first.vars.errors|length %}
                            {{ form_widget(formPassword.plainPassword.first,
                                formPassword.plainPassword.first.vars|merge({'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': 'Entrez votre nouveau mot de passe'|trans} }) ) }}
                            {{ form_errors(formPassword.plainPassword.first) }}
                        {% else %}
                            {{ form_widget(formPassword.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nouveau mot de passe'|trans} }) }}
                        {% endif %}
                    </div>
                    <!-- New Password's confirmation -->
                    <div class="form-group col-md-12">
                        {{ form_label(formPassword.current_password, 'Confirmer votre nouveau mot de passe :') }}
                        {% if formPassword.plainPassword.second.vars.errors|length %}
                            {{ form_widget(formPassword.plainPassword.second,
                                formPassword.plainPassword.second.vars|merge({'attr': {'autofocus': null, 'class': 'form-control', 'placeholder': 'Confirmez votre nouveau mot de passe'|trans} }) ) }}
                            {{ form_errors(formPassword.plainPassword.second) }}
                        {% else %}
                            {{ form_widget(formPassword.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre nouveau mot de passe'|trans} }) }}
                        {% endif %}
                    </div>
                    <div class="col-md-12 text-center">
                        <input class="btn btn-primary" type="submit" value="{{ 'Changer votre mot de passe'|trans }}">
                    </div>
                    {{ form_end(formPassword) }}
                </div><!-- End Profile form part -->
            </div>
        </div>
    </section>
 {% endblock body %}