{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>{{ 'profile.show.firstname'|trans }}: {{ user.firstname }}</p>
        <p>{{ 'profile.show.lastname'|trans }}: {{ user.lastname }}</p>
        <p>{{ 'profile.show.phoneNumber'|trans }}: {{ user.phonenumber }}</p>
        <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>
    </div>
{% endblock fos_user_content %}
