{% block header %}
    <!-- Simple Bootstrap's navbar to test JS and CSS webpack entries -->
    <nav id="{% if is_granted('ROLE_COMPANY') %}company{% else %}structure{% endif %}" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard_index') }}">
                    <img src="{{ asset('build/images/logo_galibelum_horizontal.png') }}" alt="logo Galibelum"/>
                </a>
            </div>

            {% set myVal = 0 %}
            {% for activity in app.user.organization.organizationActivity if activity.uploadPdf is null and activity.isActive == true %}
                {% set myVal = myVal + 1 %}
            {% endfor %}

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('search_index') }}"><i class="fas fa-search"></i> Recherche structure</a></li>
                    <li><a href="{{ path('contract_index') }}">Contractualisation</a></li>
                    {#<li><a href="#">Paiements</a></li>#}
                    {% if is_granted('ROLE_STRUCTURE') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ma Structure
                                {% if myVal > 0 %}<span class="badge">{{ myVal }}</span>{% endif %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('activity_index') }}">Mes Activités
                                        {% if myVal > 0 %}<span class="badge">{{ myVal }}</span>{% endif %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('offer_index') }}">Mes Offres</a></li>
                            </ul>
                        </li>
                    {% elseif is_granted('ROLE_COMPANY') %}

                        <li><a href="{{ path('organization_edit', { 'id': app.user.organization.id }) }}">Ma Marque</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}