<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <!-- maximum-scale=1.0 is now deprecated -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wild Code School">
    <meta name="description" content= "Galibelum est une plateforme web offrant des services pour l'eSport">
    <meta name="keywords" content="Galibelum, eSport, Lille">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <title>Galibelum - {% block title %}{% endblock %}</title>

    <!-- CSS Webpack Vendor including Bootstrap and so on -->
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% block stylesheets %}
    {% endblock %}

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>
<header>
    {% block header %}
        <!-- Simple Bootstrap's navbar to test JS and CSS webpack entries -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('dashboard_index') }}">
                        <img src="https://i0.wp.com/gallibellum.fr/wp-content/uploads/2018/04/cropped-cropped-cropped-Logo-Fond-carré-transparent-e1523974513774.png?resize=140,50&ssl=1" alt="logo Galibelum"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><i class="fas fa-search"></i> Recherche structure</a></li>
                        <li><a href="#">Contractualisation</a></li>
                        <li><a href="#">Paiements</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ma Structure <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('activity_index') }}">Mes Activités</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('offer_index') }}">Mes Offres</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
</header>
{% block body %}{% endblock %}
<footer>
    {% block footer %}
        <!-- Footer Bar with links -->
        <section id="galibelum-footer" class="pb-20 pt-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <p class="bold-text">Legal</p>
                        <ul>
                            <li><a href="#">Conditions générales</a></li>
                            <li><a href="#">Politique de confidentialité</a></li>
                            <li><a href="#">Utilisation des cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <p class="bold-text">Infos pratiques</p>
                        <ul>
                            <li><a href="#" target="_blank">Qui sommes-nous ?</a></li>
                            <li><a href="#" target="_blank">Sécurité</a></li>
                            <li><a href="#" target="_blank">Presse</a></li>
                            <li><a href="#" target="_blank">Espaces partenaires</a></li>
                            <li><a href="#" target="_blank">Foire aux questions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <p class="bold-text">Navigation</p>
                        <ul>
                            <li><a href="">Rechercher</a></li>
                            <li><a href="">Contractualisation</a></li>
                            <li><a href="">Paiements</a></li>
                            <li><a href="{{ path('dashboard_index') }}">Ma structure</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 text-center center-block mb-40">
                        <div class="mb-20">
                            <a href="{{ path('homepage') }}">
                                <img class="img_footer" src="{{ asset('build/images/logo_galibelum_horizontal.png') }}" alt="Logo Galibelum horizontal" title="Accueil">
                            </a>
                        </div>
                        <div class="text-center center-block">
                            <p class="degradeblue">
                                © 2018 <b>Galibelum</b>. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center center-block mt-20 mb-20">
                    <p><a href="https://wildcodeschool.fr/lille/" class="light-subtitle-text" style="font-size: 12px;" target="_blank">
                            Made with <i class="fas fa-heart made-with-love"></i> by Wild Code School Lille
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <!-- End Footer Bar -->
    {% endblock %}
</footer>
<!-- JS Webpack's vendor including Bootstrap.js and JQuery.js shared entry -->
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>