<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <!-- maximum-scale=1.0 is now deprecated -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wild Code School">
    <meta name="description" content= "Galibelum est une plateforme web offrant des services pour l'eSport">
    <meta name="keywords" content="Galibelum, eSport, Lille">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <title>Galibelum - {% block title %}{% endblock %}</title>

    <!-- CSS Webpack Vendor including Bootstrap and so on -->
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% endblock %}

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>
    <!-- Simple Bootstrap's navbar to test JS and CSS webpack entries -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="https://i0.wp.com/gallibellum.fr/wp-content/uploads/2018/04/cropped-cropped-cropped-Logo-Fond-carré-transparent-e1523974513774.png?resize=140,50&ssl=1 300w"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Recherche structure</a></li>
                    <li><a href="#">Contractualisation</a></li>
                    <li><a href="#">Paiements</a></li>
                    <li><a href="#">Ma marque</a></li>
                    <li><a href="#">Mon compte</a></li>
                    <li><a href="#">Déconnexion</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<header>
    {% block header %}
    {% endblock %}
</header>
{% block body %}
{% endblock %}
<footer>
    {% block footer %}
    {% endblock %}
</footer>
<!-- JS Webpack's vendor including Bootstrap.js and JQuery.js shared entry -->
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>