{# app/Resources/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- All listed routes from Symfony debug:router -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <h1>Routes disponibles :</h1>
                <ul>
                    <li>
                        <a href="{{ path('organization_index') }}">Voir les organisations</a>
                    </li>
                    <li>
                        <a href="{{ path('activity_index') }}">Voir les activités</a>
                    </li>
                    <li>
                        <a href="{{ path('offer_index') }}">Voir les offres</a>
                    </li>
                </ul>
                <ul>
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">Modifier votre profil</a>
                        </li>
                    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
