{# app/Resources/views/admin/new.html.twig #}
{% extends 'base_back.html.twig' %}

{% block title %}Modifier un account manager{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/register.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base_back.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="register">
        <section>
            <!-- Form to modification your profile -->
            <div class="container-fluid">
                <div id="admin-edit">
                    <div class="row boxing-canvas mt-50 pb-50">
                        <div class="col-md-6 col-xs-12">
                            <i class="fas fa-user-plus text-center degradeblue" style="font-size: 50px"></i>
                            <h5 class="text-center degradeblue">Modification du profil Account Manager</h5>

                            {{ form_start(edit_form) }}
                            <div class="col-sm-6 form-error">
                                {{ form_widget(edit_form.firstName, {'attr': {'class':'form-control input-field', 'placeholder' : 'Prénom' }}) }}
                                {{ form_errors(edit_form.firstName) }}
                            </div>
                            <div class="col-sm-6 form-error">
                                {{ form_widget(edit_form.lastName, {'attr': {'class':'form-control input-field', 'placeholder' : 'Nom' }}) }}
                                {{ form_errors(edit_form.lastName) }}
                            </div>
                            <div class="col-sm-12 form-error">
                                {{ form_widget(edit_form.email, {'attr': {'class':'form-control input-field', 'placeholder' : 'Adresse email valide' }}) }}
                                {{ form_errors(edit_form.email) }}
                            </div>
                            <div class="col-sm-12 form-error">
                                {{ form_widget(edit_form.plainPassword.first,
                                    {'attr': {'class':'form-control input-field', 'placeholder' : 'Mot de passe' }}) }}
                                {{ form_errors(edit_form.plainPassword.first) }}
                            </div>
                            <div class="col-sm-12 form-error">
                                {{ form_widget(edit_form.plainPassword.second,
                                    {'attr': {'class':'form-control input-field', 'placeholder' : 'Vérification du mot de passe' }}) }}
                                {{ form_errors(edit_form.plainPassword.second) }}
                            </div>
                            <div class="col-sm-12 col-xs-12 text-center pt-10">
                                <input class="btn btn-primary backblue-btn" type="submit" value="{{ "Modifier le profil"|trans }}" />
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

