{# app/Resources/views/admin/index.html.twig #}
{% extends 'base_back.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base_back.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <h3 class="degradeblue">Bonjour William !</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Dashboard welcoming sentence -->
                <h5 class="normal-subtitle-text">Depuis votre tableau de bord, vous pouvez naviguer sur le site, créer ou supprimer des accounts
                    managers, gérer les différentes organisations et les contrats.</h5>
                <!-- End dashboard welcoming sentence -->

                {% for user in users %}
                    {{ user.firstName }}
                    {{ user.lastName }}
                    {{ user.email }}
                    <a href="{{ path('admin_delete', { 'id': user.id }) }}">Modifier le compte</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End page content -->
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/menu-toggle.js') }}"></script>
{% endblock %}
