{# app/Resources/views/activity/index.html.twig #}
{% extends 'base_back.html.twig' %}

{% block title %}Admin Accueil{% endblock %}

{% block stylesheets %}
    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/managers.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {% if app.session.flashBag.has('success') %}
     <div class="alert alert-success">
         {% for msg in app.session.flashBag.get('success') %}
             {{ msg }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         {% endfor %}
     </div>
 {% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="boxing-canvas">
            <table class="table">
                <tbody>

                <i class="fas fa-home degradeblue icon " style="font-size: 50px"></i>
                <h5 class="degradeblue text-center">Bienvenue dans votre menu</h5>

                <thead class="table table-striped degradeblue text-center">
                <tr>
                    <th class="text-center" scope="col"><span><i class="fas fa-portrait degradeblue"></i>Prénom</span></th>
                    <th class="text-center" scope="col"><span><i class="fas fa-portrait degradeblue"></i>Noms</span></th>
                    <th class="text-center" scope="col"><span><i class="fas fa-envelope-open degradeblue"></i>Email</span></th>
                    <th class="text-center" scope="col"><span><i class="fas fa-bell degradeblue"></i>Actif</span></th>
                    <th class="text-center" scope="col"></th>
                </thead>
                {% for user in users %}
                    <tr>
                        <td class="text-center">{{ user.firstName }}</td>
                        <td class="text-center">{{ user.lastName }}</td>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">{% if user.enabled == 1 %} Oui {% else %} Non {% endif %}</td>
                        <td ><a href="{{ path('admin_manager_edit', { 'id': user.id }) }}" class=" degradeblue icon">Modifier</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>



    {% endblock %}
