{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Namecanonical</th>
                <th>Description</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Handlingfee</th>
                <th>Partnershipnumber</th>
                <th>Finaldeal</th>
                <th>Status</th>
                <th>Signature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': offer.id }) }}">{{ offer.id }}</a></td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.nameCanonical }}</td>
                <td>{{ offer.description }}</td>
                <td>{% if offer.date %}{{ offer.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ offer.amount }}</td>
                <td>{{ offer.handlingFee }}</td>
                <td>{{ offer.partnershipNumber }}</td>
                <td>{{ offer.finalDeal }}</td>
                <td>{{ offer.status }}</td>
                <td>{% if offer.signature %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offer_show', { 'id': offer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offer_edit', { 'id': offer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offer_new') }}">Create a new offer</a>
        </li>
    </ul>
{% endblock %}
