{# app/Resources/views/offer/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vos offres{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/offer.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <!-- Offer list for the current activity -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Return to the dashboard -->
                    <ol class="breadcrumb breadcrumb-boxing-canvas">
                        <li><a href="{{ path('dashboard_index') }}" class="degradeblue">Tableau de bord</a></li>
                        <li>Ensemble de vos offres</li>
                    </ol>
                </div>
            </div>
            <!-- Offer list Title-->
            <div class="row boxing-canvas">
                <div class="col-md-12 text-center">
                    <h4 class="degradeblue">Liste de vos offres :</h4>
                </div>
                <!-- End Offer list Title-->
                <!-- eSport Event list -->
                {% for activity in event_activities %}
                <div class="col-md-12 text-center mt-30 pt-30">
                    <i class="fas fa-video degradeblue" style="font-size: 50px"></i>&nbsp;
                    <h4>Evènement eSport</h4>
                    <div class="col-md-12 mt-20">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center backblue">
                                    <h2 class="panel-title" style="color: white;">{{ activity.name }}</h2>
                                </div>

                                <div class="panel-body">
                                    {% for row in activity.activities|batch(3) %}
                                    <div class="row">
                                        {% for offer in row %}
                                        <div class="col-sm-4 col-md-4">
                                            <div class="thumbnail text-center">
                                                <div class="caption">
                                                    <h5 class="degradeblue"> {{ offer.name }}</h5>
                                                    <p><strong>Montant :</strong> {{ offer.amount }} €</p>
                                                    <p><strong>Date d'expiration :</strong> {% if offer.date %}{{ offer.date|date('d M Y') }}{% endif %}</p>
                                                    <p><strong>Nombre de partenaires :</strong> {{ offer.partnershipNumber }}</p>
                                                    <p><strong>Adresse :</strong> {{ offer.activity.address }}</p>
                                                    <div>
                                                        <a href="{{ path('offer_show', { 'id': offer.id }) }}" class="btn btn-primary backblue-btn mt-20">Plus de détails</a>
                                                        <a href="{{ path('offer_edit', { 'id': offer.id }) }}" class="btn btn-primary backred-btn mt-10">Modifier votre offre</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End eSport Event list -->

                <!-- Streaming Activity list -->
                {% for activity in stream_activities %}
                <div class="col-md-12 text-center mt-30 pt-30">
                    <i class="fas fa-gamepad degradeblue" style="font-size: 50px"></i>&nbsp;
                    <h4>Activité de streaming</h4>
                    <div class="col-md-12 mt-20">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center backblue">
                                    <h2 class="panel-title" style="color: white;">{{ activity.name }}</h2>
                                </div>

                                <div class="panel-body">
                                    {% for row in activity.activities|batch(3) %}
                                        <div class="row">
                                            {% for offer in row %}
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="thumbnail text-center">
                                                        <div class="caption">
                                                            <h5 class="degradeblue"> {{ offer.name }}</h5>
                                                            <p><strong>Montant :</strong> {{ offer.amount }} €</p>
                                                            <p><strong>Date d'expiration :</strong> {% if offer.date %}{{ offer.date|date('d M Y') }}{% endif %}</p>
                                                            <div>
                                                                <a href="{{ path('offer_show', { 'id': offer.id }) }}" class="btn btn-primary backblue-btn mt-20">Plus de détails</a>
                                                                <a href="{{ path('offer_edit', { 'id': offer.id }) }}" class="btn btn-primary backred-btn mt-10">Modifier votre offre</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Streaming Activity list -->

                <!-- eSport Team list -->
                {% for activity in team_activities %}
                <div class="col-md-12 text-center mt-30 pt-30">
                    <i class="fas fa-users degradeblue" style="font-size: 50px"></i>&nbsp;
                    <h4>Equipe eSport</h4>
                    <div class="col-md-12 mt-20">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center backblue">
                                    <h2 class="panel-title" style="color: white;">{{ activity.name }}</h2>
                                </div>
                                <div class="panel-body">
                                    {% for row in activity.activities|batch(3) %}
                                        <div class="row">
                                            {% for offer in row %}
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="thumbnail text-center">
                                                        <div class="caption">
                                                            <h5 class="degradeblue"> {{ offer.name }}</h5>
                                                            <p><strong>Montant : </strong> {{ offer.amount }} €</p>
                                                            <p><strong>Date d'expiration : </strong> {% if offer.date %}{{ offer.date|date('d M Y') }}{% endif %}</p>
                                                            <div>
                                                                <a href="{{ path('offer_show', { 'id': offer.id }) }}" class="btn btn-primary backblue-btn mt-20">Plus de détails</a>
                                                                <a href="{{ path('offer_edit', { 'id': offer.id }) }}" class="btn btn-primary backred-btn mt-10">Modifier votre offre</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End eSport Team list -->
            </div>
        </div>
    </section>
{% endblock %}
