{# app/Resources/views/offer/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer une offre{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/offer.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <!-- Offer list for the current activity -->
        <div class="container-fluid light-blue-subtitle-text mt-50">
            <div class="row boxing-canvas mt-40">
                <div class="text-center">
                    <h4 class="degradeblue">Récapitulatif de vos offres pour l'activité :</h4>
                    <h5 class="degradeblue pt-20 pb-10">"{{ activity.name }}"</h5>
                </div>
            </div>
            <div class="row text-center boxing-canvas">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Montant Brut</th>
                                <th>Frais de service</th>
                                <th>Fonds Bruts</th>
                                <th>Nombre de partenaire</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for offer in activity.activities %}
                        <tr>
                            <td>{{ offer.name }}</td>
                            <td>{{ offer.amount }}</td>
                            <td>{{ offer.handlingFee }}</td>
                            {% if offer.finalDeal is empty %}
                                <td>{{ offer.amount - offer.handlingFee }}</td>
                            {% else %}
                                <td>{{ offer.finalDeal }}</td>
                            {% endif %}
                            <td>{{ offer.partnershipNumber }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--  End of offer list for current activity -->
        <!-- Form to create your offers -->
        <div class="container-fluid mt-20">
            <div class="row boxing-canvas mt-20">
                <div class="col-md-10 col-md-offset-1 mt-20">
                    <div class="col-md-12 text-center mt-20">
                        <i class="fas fa-hand-holding-usd degradeblue" style="font-size: 50px"></i>
                        <h5 class="degradeblue">Ajouter une offre :</h5>
                    </div>
                    {{ form_start(form) }}
                    <div class="col-sm-12 mt-20">
                        <i class="fas fa-university"></i>
                        {{ form_label(form.name, 'Nom' )}}
                        {{ form_widget(form.name, {'attr': {'class':'form-control input-field', 'placeholder' : "Nom de l'offre" }}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-6 correct-pl">
                            <div class="mt-20">
                                <i class="far fa-calendar-alt"></i>
                                {{ form_label(form.date, "Date d'expiration" )}}
                                {{ form_widget(form.date, {'attr': {'class':'form-control input-field'}}) }}
                                {{ form_errors(form.date) }}
                            </div>
                            <div class="mt-20">
                                <i class="fas fa-dollar-sign"></i>
                                {{ form_label(form.amount, "Montant demandé" )}}
                                {{ form_widget(form.amount, {'attr': {'class':'form-control input-field js-datepicker', 'placeholder' : "Montant de l'offre" }}) }}
                                {{ form_errors(form.amount) }}
                            </div>
                            <div class="mt-20">
                                <i class="fas fa-user-friends"></i>
                                {{ form_label(form.partnershipNumber, "Nombre de participants" )}}
                                {{ form_widget(form.partnershipNumber, {'attr': {'class':'form-control input-field', 'placeholder' : "Nombre de participant(s)" }}) }}
                                {{ form_errors(form.partnershipNumber) }}
                            </div>
                        </div>
                        <!-- Fees details -->
                        <div class="col-md-6 text-center box-border mt-30">
                            <p class="bold-text pt-20">Calcul du montant des commissions retenues :</p>
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Taux de commission</th>
                                    <th>Fonds obtenus</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>15 %</td>
                                    <td>200 €  &lt 10 000 €</td>
                                </tr>
                                <tr>
                                    <td>10 %</td>
                                    <td>10 001 € &lt 50 000 €</td>
                                </tr>
                                <tr>
                                    <td>7 %</td>
                                    <td>50 001 et +</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Fees details -->
                    <div class="col-sm-12 mt-20">
                        <i class="fas fa-edit"></i>
                        {{ form_label(form.description, "Description" )}}
                        {{ form_widget(form.description, {'attr': {'class':'form-control input-field', 'placeholder' : "Description de l'offre" }}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="col-sm-12 col-xs-12 text-center">
                        <input class="col-sm-12 col-xs-12 btn btn-primary backblue-btn mt-20" type="submit" value="{{ "Enregistrer"|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <!--End of Form-->
            <div class="row subtitle-boxing-canvas">
                <!--Return to Dashboard-->
                <div class="col-sm-12 back-dashboard normal-subtitle-text">
                    <i class="fas fa-reply"></i>&nbsp;
                    <a href="{{ path('dashboard_index')}}" class="five-color">Retourner sur votre tableau de bord ?</a>
                </div>
                <!--End return to dashboard-->
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/datepicker.js') }}"></script>
{% endblock %}
