<!-- Modal introducing the redirection to the activity_index -->
<div class="modal fade" id="pop-up-offer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Modal's header-->
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times" style="color: #999999;" aria-hidden="true"></i></span>
                </button>
                {{ form_start(form, {'action': path('contract_upload', {'contract': contract.id })}) }}
                <div class="col-sm-10 col-sm-offset-1">
                    <!--Activity's PDF Upload-->
                    <div class="row">
                        <div class="col-sm-12 mt-20">
                            <div class="form-group form-error">
                                <i class="fas fa-upload"></i>{{ form_label(form.uploadPdf, 'Vous pouvez ajouter un PDF pour décrire votre activité') }}
                                {{ form_widget(form.uploadPdf, {'attr': {'class': "filebrowse"} }) }}
                                {{ form_errors(form.uploadPdf) }}
                            </div>
                        </div>
                    </div>
                    <!--End Activity's PDF Upload-->

                    <div class="row mt-10">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="Enregistrer" class="btn btn-primary backblue-btn">
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->