{# app/Resources/views/manager/index.html.twig #}
{% extends 'base_back.html.twig' %}

{% block title %}Contractualisation{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/organization_show.css') }}">
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base_back.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row boxing-canvas mt-30 mb-30">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <i class="fas fa-briefcase text-center degradeblue" style="font-size: 50px"></i>
                <h5 class="degradeblue text-center">Contractualisation</h5>
                <p class="normal-subtitle-text text-center mt-20 mb-20">Le tableau ci-dessous vous permet de voir si une marque s'est liée à l'offre d'une structure.
                <br>Un fois la mise en relation effectuée, vous pourrez suivre et gérer l'évolution de la négociation.</p>

                <!-- Creating a responsive table -->
                <div class="table-responsive">
                    <table id="table_manager" class="table table-striped text-center">
                        <!-- Table head -->
                        <thead>
                        <tr>
                            <th>Nom de la structure</th>
                            <th>Nom de l'activité</th>
                            <th>Nom de l'offre</th>
                            <th>Montant demandé</th>
                            <th>Avant le</th>
                            <th>Nom du partenaire</th>
                            <th>Statut</th>
                            <th></th>
                            <th>Contrat</th>
                        </tr>
                        </thead>
                        <!-- End of table head -->

                        <!-- Starting listing the offers -->
                        <tbody>
                        {% for contract in contracts %}
                            <tr>
                                <td class="degradeblue"><strong>{{ contract.offer.activity.organizationActivities.name }}</strong></td>
                                <td>{{ contract.offer.activity.name }}</td>
                                <td>{{ contract.offer.name }}</td>
                                <td>{{ contract.offer.amount }}</td>
                                <td>{{ contract.offer.date|date('d M Y') }}</td>
                                <td class="degradered"><strong>{{ contract.organization.name }}</strong></td>

                                <!-- Buttons changing contracts' status start -->
                                <td class="toto">
                                    {% if contract.status == 0 %}
                                        <a href="{{ path('contract_status', {'id': contract.id, 'status': 1}) }}"
                                           class="button button text-center">Aucun partenaire</a>
                                    {% elseif contract.status == 1 %}
                                        <a href="{{ path('contract_status', {'id': contract.id, 'status': 2}) }}"
                                           class="button button-yellow text-center">Négociation</a>
                                    {% elseif contract.status == 2 %}
                                        <a href="{{ path('contract_status', {'id': contract.id, 'status': 3}) }}"
                                           class="button button-green text-center">Validation</a>
                                    {% elseif contract.status == 3 %}
                                        <a href="{{ path('contract_status', {'id': contract.id, 'status': 4}) }}"
                                           class="button button-blue text-center">Paiement</a>
                                    {% elseif contract.status == 4 %}
                                        <a href="{{ path('contract_status', {'id': contract.id, 'status': 5}) }}"
                                           class="button button-purple text-center">Expiré</a>
                                    {% elseif contract.status == 5 %}
                                        <a href="{{ path('contract_status', {'id': contract.id, 'status': 0}) }}"
                                           class="button button-red text-center">Refusé</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if contract.status >= 2 %}
                                        <a href="{{ path('contract_status_mail', {'id': contract.id, 'status': contract.status}) }}"
                                           class="text-center"><i class="fas fa-envelope" style="font-size: 20px; color: #999999"></i></a><br>
                                    {% endif %}
                                    <!-- Ending buttons changing contracts' status -->

                                    {% if contract.status is same as(2) %}
                                        <a href="#" class="fas fa-upload" style="font-size: 20px; color: #999999" data-toggle="modal" data-target="#pop-up-offer"></a>
                                        {{ render(controller("AppBundle:Manager:upload", {'contract': contract})) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for uploadPdf in contract.uploadPdf if contract.uploadPdf is not null %}
                                        <a class="fas fa-file-pdf degradeblue" style="font-size: 20px" href="{{ asset('/uploads/pdf/organization_' ~
                                            contract.offer.activity.organizationActivities.id ~ '/activity_' ~ contract.offer.activity.id
                                            ~ '/offer_' ~ contract.offer.id ~ '/' ~uploadPdf) }}"></a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/menu_toggle.js') }}"></script>
    <script src="{{ asset('build/table_manager.js') }}"></script>
{% endblock %}
