{# app/Resources/views/manager/index.html.twig #}
{% extends 'base_back.html.twig' %}

{% block title %}Contractualisation{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/organization_show.css') }}">
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base_back.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row boxing-canvas mt-50">
            <div class="col-md-12 col-sm-12 col-xs-12 center">
                <i class="fas fa-briefcase text-center degradeblue" style="font-size: 50px"></i>
                <h5 class="degradeblue text-center">Contractualisation</h5>

                <!-- Creating a responsive table -->
                <div class="table-responsive">
                    <table id="table-manager">
                        <!-- Table head -->
                        <thead class="table table-striped degradeblue text-center">
                        <tr>
                            <th>Nom de la structure</th>
                            <th>Nom de l'offre</th>
                            <th>Montant demandé</th>
                            <th>Avant le</th>
                            <th>Nom du partenaire</th>
                            <th>Statut</th>
                        </tr>
                        </thead>
                        <!-- End of table head -->

                        <!-- Starting listing the offers -->
                        <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.activity.organizationActivities.name }}</td>
                                <td>{{ offer.name }}</td>
                                <td>{{ offer.amount }}</td>
                                <td>{{ offer.date|date('d M Y') }}</td>
                                {% if offer.organization %}
                                    <td>{{  offer.organization.name }}</td>
                                {% else %}
                                    <td>Aucune marque liée</td>
                                {% endif %}

                                <!-- Buttons changing contracts' status start -->
                                <td>
                                    {% if offer.status == 0 %}
                                        <a href="{{ path('manager_contract_status', { 'id': offer.id, 'status': 1 }) }}"
                                           class="button button text-center">Aucun partenaire</a>
                                    {% elseif offer.status == 1 %}
                                        <a href="{{ path('manager_contract_status', { 'id': offer.id, 'status': 2 }) }}"
                                           class="button button-yellow text-center">Négociation</a>
                                    {% elseif offer.status == 2 %}
                                        <a href="{{ path('manager_contract_status', { 'id': offer.id, 'status': 3 }) }}"
                                           class="button button-green text-center">Validation</a>
                                    {% elseif offer.status == 3 %}
                                        <a href="{{ path('manager_contract_status', { 'id': offer.id, 'status': 4 }) }}"
                                           class="button button-blue text-center">Paiement</a>
                                    {% elseif offer.status == 4 %}
                                        <a href="{{ path('manager_contract_status', { 'id': offer.id, 'status': 5 }) }}"
                                           class="button button-purple text-center">Expiré</a>
                                    {% elseif offer.status == 5 %}
                                        <a href="{{ path('manager_contract_status', { 'id': offer.id, 'status': 0 }) }}"
                                           class="button button-red text-center">Refusé</a>
                                    {% endif %}
                                </td>
                                <!-- Ending buttons changing contracts' status -->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/menu-toggle.js') }}"></script>
    <script src="{{ asset('build/table-manager.js') }}"></script>
{% endblock %}
