{# app/Resources/views/organization/_edit_company_content.html.twig #}
{% block body %}
    <main id="company">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Return to the dashboard -->
                        <ol class="breadcrumb breadcrumb-boxing-canvas">
                            <li><i class="fas fa-reply degradered"></i>&nbsp;
                                <a href="{{ path('dashboard_index') }}" class="degradered">Retourner sur votre tableau de bord</a></li>
                        </ol>
                        <!--The organization _show -->
                        <div class="boxing-canvas">
                            <div class="col-md-12 center">
                                <i class="fas fa-building degradered" style="font-size: 50px"></i>
                                <h5 class="degradered">Marque : {{ organization.name }}</h5>
                                <p class="normal-subtitle-text text-justify center"> Information générale sur la marque.</p>
                            </div>
                            <!-- First section contact organization_show -->
                            <div class="col-md-6 mt-20 light-red-subtitle-text">
                                <p><i class="fas fa-university"></i>Nom de la marque</p>
                                <div class="form-group form-error">
                                    {{ organization.name }}
                                </div>
                                <p><i class="fas fa-address-card"></i>Adresse du siège de la marque</p>
                                <div class="form-group form-error">
                                    {{ organization.address }}
                                </div>
                                <p><i class="fas fa-users"></i>Nombre de collaborateurs au sein de la marque</p>
                                <div class="form-group form-error">
                                    {{ organization.relationNumber }}
                                </div>
                            </div>
                            <!-- End first section contact organization_show -->

                            <!-- Second section contact organization_show-->
                            <div class="col-md-6 mt-20 light-red-subtitle-text">
                                <p><i class="fas fa-user"></i>Rôle au sein de la marque</p>
                                <div class="form-group form-error">
                                    {{ organization.userRole }}
                                </div>
                                <p><i class="fas fa-at"></i>Email de la marque</p>
                                <div class="form-group form-error">
                                    {{ organization.email }}
                                </div>
                                <p><i class="fas fa-phone"></i>Téléphone de la marque</p>
                                <div class="form-group form-error">
                                    {{ organization.phoneNumber }}
                                </div>
                            </div>
                            <!-- End second section contact organization_show->

                            <!-- Final section contact organization_show-->
                            <div class="col-md-12 light-red-subtitle-text">
                                <p><i class="fas fa-edit"></i>Description de la marque en quelques mots</p>
                                <div class="form-group form-error description-text">
                                    {{ organization.description }}
                                </div>
                            </div>
                            <!-- End final section contact organization_show-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
