{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organization edit</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ form_start(edit_form) }}

                <div class="form-group">
                    {{ form_label(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}
                    {{ form_errors(edit_form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.status) }}
                    {{ form_widget(edit_form.status) }}
                    {{ form_errors(edit_form.status) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.address) }}
                    {{ form_widget(edit_form.address) }}
                    {{ form_errors(edit_form.address) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.phoneNumber) }}
                    {{ form_widget(edit_form.phoneNumber) }}
                    {{ form_errors(edit_form.phoneNumber) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.email) }}
                    {{ form_widget(edit_form.email) }}
                    {{ form_errors(edit_form.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.relationNumber) }}
                    {{ form_widget(edit_form.relationNumber) }}
                    {{ form_errors(edit_form.relationNumber) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.userRole) }}
                    {{ form_widget(edit_form.userRole) }}
                    {{ form_errors(edit_form.userRole) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.description) }}
                    {{ form_widget(edit_form.description) }}
                    {{ form_errors(edit_form.description) }}
                </div>

                <input type="submit" value="Edit" class="btn btn-primary">
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    <ul>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('dashboard_index') }}">Revenir au Dashboard</a>
        </li>
    </ul>
{% endblock %}
