{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organizations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Namecanonical</th>
                <th>Phonenumber</th>
                <th>Email</th>
                <th>Description</th>
                <th>Userrole</th>
                <th>Status</th>
                <th>Address</th>
                <th>Relationnumber</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': organization.id }) }}">{{ organization.id }}</a></td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.nameCanonical }}</td>
                <td>{{ organization.phoneNumber }}</td>
                <td>{{ organization.email }}</td>
                <td>{{ organization.description }}</td>
                <td>{{ organization.userRole }}</td>
                <td>{{ organization.status }}</td>
                <td>{{ organization.address }}</td>
                <td>{{ organization.relationNumber }}</td>
                <td>{{ organization.isActive }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organization_show', { 'id': organization.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('organization_edit', { 'id': organization.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organization_new') }}">Create a new organization</a>
        </li>
    </ul>
{% endblock %}
