{# app/Resources/views/organization/index.html.twig #}
{% extends 'base_back.html.twig' %}
 
{% block title %}Liste des structures eSport|marques{% endblock %}
 
{% block stylesheets %}
 
     <!-- Additional CSS links-->
     <link rel="stylesheet" href="{{ asset('build/organization_show.css') }}">
     <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}
 
{% block header %}
     <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
     <!-- Zero intern console warning -->
 
     <!-- Navbar in views/base.html.twig -->
     {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Liste des organisations</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phonenumber</th>
            <th>Email</th>
            <th>Description</th>
            <th>Isactive</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': organization.id }) }}">{{ organization.id }}</a></td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.phoneNumber }}</td>
                <td>{{ organization.email }}</td>
                <td>{{ organization.description }}</td>
                <td>{{ organization.isActive }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organization_show', { 'id': organization.id }) }}">Activer</a>
                        </li>
                        <li>
                            <a href="{{ path('organization_edit', { 'id': organization.id }) }}">Désactiver</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}