{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                    <h3 class="form-signin-heading"> Entrez vos identifiants</h3>

                    <div class="col-md-12">
                        <label for="username" class="form-group">{{ 'Email :'|trans }}</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"/>
                    </div>

                    <div class="col-md-12">
                        <label for="password" class="form-group">{{ 'Mot de passe :'|trans }}</label>
                        <input type="password" class="form-control" id="password"  name="_password" required="required" autocomplete="current-password"/>
                    </div>
                    <div class="col-md-12">
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
                    </div>
                    <div class="col-md-12">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">{{ 'Mémoriser mes identifiants'|trans }}</label>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'Connecter'|trans }}"/>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x450" alt="placeholder"></a>
            </div>
        </div>
    </div>
{% endblock %}