{# app/Resources/FOSUserBundle/views/Resetting/reset_content.html.twig #}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row boxing-canvas mt-50 center">
                <div class="col-md-6 col-md-offset-3">
                    <i class="far fa-user-circle text-center degradeblue" style="font-size: 50px"></i>
                    <h5 class="text-center degradeblue">Réinitialiser son mot de passe</h5>
                    <p class="normal-subtitle-text text-justify center">Entrez votre nouveau de passe et conservez le au chaud !</p>
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    <div class="col-sm-12 form-error">
                        {{ form_widget(form.plainPassword.first,
                            {'attr': {'class':'form-control input-field', 'placeholder' : 'Nouveau mot de passe' }}) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="col-sm-12 form-error">
                        {{ form_widget(form.plainPassword.second,
                            {'attr': {'class':'form-control input-field', 'placeholder' : 'Vérification mot de passe' }}) }}
                        {{ form_errors(form.plainPassword.second) }}
                        <input type="submit" class="btn btn-primary backblue-btn mt-20" value="{{ 'resetting.reset.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row subtitle-boxing-canvas">
                <!-- Forgotten password -->
                <div class="col-sm-12 forgotten-password normal-subtitle-text">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp; Mot de passe retrouvé ?
                    <a href="{{ path('fos_user_security_login') }}" class="five-color"> Connecte toi !</a>
                    <br>
                    <i class="fas fa-user-plus"></i>&nbsp; Nouveau sur Galibelum ?
                    <a href="{{ path('fos_user_registration_register') }}" class="orange-color"> Créer un compte</a>
                </div>
                <!-- End forgotten password -->
            </div>
        </div>
    </section>
{% endblock %}