{# app/Resources/views/manager/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contractualisation{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/organization_show.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <!-- Breadcrum -->
            <ol class="breadcrumb breadcrumb-boxing-canvas">
                {% if is_granted('ROLE_STRUCTURE') %}
                    <li><a href="{{ path('dashboard_index') }}">Tableau de bord</a></li>
                {% endif %}
                <li>Contractualisation</li>
            </ol>
        </div>
        <!-- End of breadcrum -->
        <div class="row mt-50">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="item">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <p> Votre Account Manager Galibelum</p>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Wikipedia_User-ICON_byNightsight.png"style="max-width: 100%">
                            <p class="bold-text-dark mt-20">{{ manager.firstName }} {{ manager.lastName }}</p>
                            <p>{{ manager.phoneNumber }}</p>
                            <p>{{ manager.email }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 text-center boxing-canvas">
                <!-- Display different color regarding if a company or structure is logged in -->
                <i class="fas fa-briefcase text-center degradeblue" style="font-size: 50px"></i>
                <h5 class="degradeblue">Contractualisation</h5>

                <!-- Creating a responsive table -->
                <div class="table-responsive col-md-10 text-center">
                        <table id="table_manager" class="table table-striped text-center">
                            {% if contracts is empty %}
                                <div>Aucun résultat pour votre recherche</div>
                            {% else %}
                            <!-- Table head -->
                            <thead>
                            <tr>
                                <th>Nom de votre structure</th>
                                <th>Nom de l' activité</th>
                                <th>Nom de l'offre</th>
                                <th>Montant demandé</th>
                                <th>Avant le</th>
                                <th>Nom du partenaire</th>
                                <th>Statut</th>
                            </tr>
                            </thead>
                            <!-- End of table head -->

                            <!-- Starting listing the offers -->
                            <tbody>
                            {% for contract in contracts %}
                                <tr>
                                    <td>{{ contract.offer.activity.organizationActivities.name }}</td>
                                    <td>{{ contract.offer.activity.name }}</td>
                                    <td>{{ contract.offer.name }}</td>
                                    <td>{{ contract.offer.amount }}</td>
                                    <td>{{ contract.offer.date|date('d M Y') }}</td>
                                    <td>{{ contract.organization.name }}</td>

                                    <!-- Buttons changing contracts' status start -->
                                    <td>
                                        {% if contract.status == 0 %}
                                            <button class="button button text-center" disabled>Aucun partenaire</button>
                                        {% elseif contract.status == 1 %}
                                            <button class="button button-yellow text-center" disabled>Négociation</button>
                                        {% elseif contract.status == 2 %}
                                            <button class="button button-green text-center" disabled>Validation</button>
                                        {% elseif contract.status == 3 %}
                                            <button class="button button-blue text-center" disabled>Paiement</button>
                                        {% elseif contract.status == 4 %}
                                            <button class="button button-purple text-center" disabled>Expiré</button>
                                        {% elseif contract.status == 5 %}
                                            <button class="button button-red text-center" disabled>Refusé</button>
                                        {% endif %}
                                    </td>
                                    <!-- Ending buttons changing contracts' status -->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/table_manager.js') }}"></script>
{% endblock %}