{# app/Resources/views/manager/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contractualisation{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/organization_show.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <!-- Return to the dashboard -->
            <ol class="breadcrumb breadcrumb-boxing-canvas">
                {% if is_granted('ROLE_STRUCTURE') %}
                    <li><a href="{{ path('dashboard_index') }}">Tableau de bord</a></li>
                {% endif %}
                <li>Contractualisation</li>
            </ol>
        </div>
        <div class="row boxing-canvas mt-50">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">

                <!-- Display different color regarding if a company or structure is logged in -->
                <i class="fas fa-briefcase text-center degradeblue" style="font-size: 50px"></i>
                <h5 class="degradeblue">Contractualisation</h5>

                <!-- Creating a responsive table -->
                <div class="table-responsive">
                    <table id="table-manager" class="table table-striped text-center">
                        <!-- Table head -->
                        <thead>
                        <tr>
                            <th>Nom de votre structure</th>
                            <th>Nom de l' activité</th>
                            <th>Nom de l'offre</th>
                            <th>Montant demandé</th>
                            <th>Avant le</th>
                            <th>Nom du partenaire</th>
                            <th>Statut</th>
                        </tr>
                        </thead>
                        <!-- End of table head -->

                        <!-- Starting listing the offers -->
                        <tbody>
                        {% for organization in organization %}
                            {% for contract in organization.contracts %}
                                <tr>
                                    <td>{{ contract.activity.organizationActivities.name }}</td>
                                    <td>{{ contract.activity.name }}</td>
                                    <td>{{ contract.name }}</td>
                                    <td>{{ contract.amount }}</td>
                                    <td>{{ contract.date|date('d M Y') }}</td>
                                    <td>{{ organization.name }}</td>

                                <!-- Buttons changing contracts' status start -->
                                <td>
                                    {% if contract.status == 0 %}
                                        <button class="button button text-center" disabled>Aucun partenaire</button>
                                    {% elseif contract.status == 1 %}
                                        <button class="button button-yellow text-center" disabled>Négociation</button>
                                    {% elseif contract.status == 2 %}
                                        <button class="button button-green text-center" disabled>Validation</button>
                                    {% elseif contract.status == 3 %}
                                        <button class="button button-blue text-center" disabled>Paiement</button>
                                    {% elseif contract.status == 4 %}
                                        <button class="button button-purple text-center" disabled>Expiré</button>
                                    {% elseif contract.status == 5 %}
                                        <button class="button button-red text-center" disabled>Refusé</button>
                                    {% endif %}
                                </td>
                                <!-- Ending buttons changing contracts' status -->
                            </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/table_manager.js') }}"></script>
{% endblock %}