<div id="myCarousel" class="carousel vertical" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <!-- Loop for show information activities in item carousel -->
        {% for activity in organization.OrganizationActivity %}
            <div class="{% if loop.first %}active{% endif %} item">
                <div class="panel panel-default">
                    <h5 class="panel-title">{{ activity.name }}</h5>
                    <div class="panel-body">
                        {% if activity.address is same as('n/a') %}
                            <p class="panel-item"><strong>chaîne : </strong>{{ activity.urlVideo }}</p>
                        {% else %}
                            <p class="panel-item"><strong>Adresse : </strong>{{ activity.address }}</p>
                            <p class="panel-item"><strong>Date de l'événement : </strong>{{ activity.date }}</p>
                        {% endif %}
                        <a href="{{ path('activity_show', { 'id': activity.id }) }}" class="btn btn-primary btn-sm">Plus de détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="up carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="down carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <span class="sr-only">next</span>
    </a>
</div>