<div id="myCarousel" class="carousel vertical" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <!-- Loop for show information activities in item carousel -->
        {% for activity in activities %}
            <div class="{% if loop.first %}active{% endif %} item">
                <div class="panel panel-default">
                    <h5 class="panel-title">
                        {% if activity.type is same as('Activité de streaming') %}
                            <i class="fas fa-video"></i>
                        {% elseif activity.type is same as('Equipe eSport') %}
                            <i class="fas fa-users"></i>
                        {% elseif activity.type is same as('Editeur de jeux') %}
                            <i class="fas fa-wrench"></i>
                        {% else %}
                            <i class="fas fa-gamepad"></i>
                        {% endif %}
                        {{ activity.name }}</h5>
                    <div class="panel-body">
                        {% if activity.address is same as('n/a') %}
                            <p class="panel-item"><strong>Chaîne de streaming : </strong><br><br>
                                <a href="{{ activity.urlVideo }}">{{ activity.urlVideo }}</a>
                            </p>
                        {% else %}
                            <p class="panel-item"><strong>Adresse : </strong><br>
                                {{ activity.address }}
                            </p>
                            <p class="panel-item"><strong>Date de l'évènement : </strong><br>
                                {% if activity.dateStart %}{{ activity.dateStart|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} -{% endif %}
                                {% if activity.dateEnd %}{{ activity.dateEnd|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}{% endif %}
                            </p>
                        {% endif %}
                        <a href="{{ path('activity_show', { 'id': activity.id }) }}" class="btn btn-primary btn-sm">Plus de détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="up carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="down carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <span class="sr-only">next</span>
    </a>
</div>