{# app/Resources/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard - Structure{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}">
{% endblock %}
{% block body %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% endfor %}
        </div>
    {% endif %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->
    <div class="container pb-60">
        <div class="boxing-title mt-60 mb-40">
            <h5 class="degradeblue ml-25"><span><i class="fas fa-chart-bar degradeblue" style="font-size: 30px"></i></span> Tableau de bord</h5>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item text-center"><P>Bienvenue {{ user.firstName }}</P></li>
                        <li class="list-group-item text-left">{{ organization.name }}</li>
                        <li class="list-group-item text-left">{{ organization.phoneNumber }}</li>
                        <li class="list-group-item text-left">{{ organization.email }}</li>
                        <li class="list-group-item text-left">{{ organization.address }}</li>
                        <li class="list-group-item text-left text-muted"><a href="{{ path('organization_edit', { 'id': organization.id }) }}">Modifier votre structure</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-4 mb-40">
                <div class="boxing-canvas">
                    <h5 class="text-center degradeblue pb-20">Mes Activités</h5>
                    <div class="panel-body">
                        <div id="myCarousel" class="carousel vertical" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% if organization.OrganizationActivity is empty %}
                                    <p>Créer une activités</p>
                                {% else %}
                                    {% for activity in organization.OrganizationActivity %}
                                        <div class="{% if loop.first %}active{% endif %} item">
                                            <div class="panel panel-default">
                                                <h5 class="panel-title text-center pt-10">{{ activity.name }}</h5>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <p class="panel-item col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">{{ activity.type }}</p>
                                                        <p class="panel-item col-md-6 col-sm-6 col-xs-6">{{ activity.date }}</p>
                                                    </div>
                                                    <a href="{{ path('activity_show', { 'id': activity.id }) }}" class="btn btn-primary btn-sm">Plus de détails</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!-- Controls -->
                            <a class="up carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="down carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                <span class="sr-only">next</span>
                            </a>
                        </div>
                        <a href="{{ path('activity_new') }}" class="btn btn-primary backblue-btn mt-20">Ajouter une activité</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-40">
                <div class="boxing-canvas">
                    <h5 class="text-center degradeblue pb-20">Mes Offres</h5>
                    <div class="panel-body">
                        <div id="myCarouselActivity" class="carousel vertical" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% if organization.offers is empty %}
                                    <p>Créer une offre</p>
                                {% else %}
                                    {% for offer in organization.offers %}
                                        <div class="{% if loop.first %}active{% endif %} item">
                                            <div class="panel panel-default">
                                                <h5 class="panel-title text-center pt-10">{{ offer.name }}</h5>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <p class="panel-item col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1"> Montant : {{ offer.amount }}</p>
                                                        <p class="panel-item col-md-6 col-sm-6 col-xs-6">Date : {{ offer.date|date("d M Y") }}</p>
                                                    </div>
                                                    <a href="{{ path('offer_show', { 'id': offer.id }) }}" class="btn btn-primary btn-sm">Plus de détails</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!-- Controls -->
                            <a class="up carousel-control" href="#myCarouselActivity" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="down carousel-control" href="#myCarouselActivity" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a href="{{ path('activity_index') }}" class="btn btn-primary backblue-btn mt-20">Ajouter une offre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/carousel.js') }}"></script>
{% endblock %}
