{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Namecanonical</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Address</th>
                <th>Maingame</th>
                <th>Urlvideo</th>
                <th>Achievement</th>
                <th>Sociallink</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td><a href="{{ path('activity_show', { 'id': activity.id }) }}">{{ activity.id }}</a></td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.nameCanonical }}</td>
                <td>{{ activity.type }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.date|date("d/m/Y") }}</td>
                <td>{{ activity.address }}</td>
                <td>{{ activity.mainGame }}</td>
                <td>{{ activity.urlVideo }}</td>
                <td>{% if activity.achievement %}{{ activity.achievement|join(', ') }}{% endif %}</td>
                <td>{% if activity.socialLink %}{{ activity.socialLink|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activity_show', { 'id': activity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('activity_edit', { 'id': activity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activity_new') }}">Create a new activity</a>
        </li>
    </ul>
{% endblock %}
