{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/activity_new.css') }}">
{% endblock %}

{% block body %}
    <div class="container size-align">
        <div class="row boxing-canvas mt-50">
            <!--1st part of the new form-->
            <!-- New form  -->
            {{ form_start(form) }}
            <div class="col-sm-10 col-sm-offset-1 ">
                <h3 class=" h5 degradeblue text-center col-sm-12 mt-10">Créer votre activité</h3>
                <div class="row  mt-60">
                    <!--Activity's Type-->
                    <div class="col-sm-6">
                        <div class="input-no-border mt-20">
                            <i class="fas fa-gamepad"></i>{{ form_label(form.type, 'Type de votre activité') }}
                        </div>
                        <div>
                            {{ form_widget(form.type, {'attr': {'class': "form-control input-field"}}) }}
                            {{ form_errors(form.type) }}
                        </div>
                    </div>
                    <!-- End activity's Type-->

                    <!--Activity's Name-->
                    <div class="col-sm-6">
                        <div class="input-no-border mt-20">
                            <i class="fas fa-university"></i>{{ form_label(form.name, 'Nom de votre activité') }}
                        </div>
                        <div>
                            {{ form_widget(form.name, {'attr': {'class': "form-control input-field", 'placeholder': "Exemple : Lyon eSport"}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                </div>
                <!-- End activity's Name-->

                <!--Activity's Url Video-->
                <div class="row">
                    <div class="col-sm-12 mt-20">
                        <div class="input-no-border">
                            <i class="fas fa-link"></i>{{ form_label(form.urlVideo, 'Url') }}
                        </div>
                        <div>
                            {{ form_widget(form.urlVideo, {'attr': {'class': "form-control input-field", 'placeholder': "Vous avez déjà réalisé une vidéo de présentation de votre activité ?"}}) }}
                            {{ form_errors(form.urlVideo) }}
                        </div>
                    </div>
                </div>
                <!--End Activity's Url Video-->

                <!--Activity's Achievement-->
                <div class="row">
                    <div class="col-sm-12 mt-20">
                        <div class="input-no-border">
                            <i class="fas fa-trophy"></i>{{ form_label(form.achievement, 'Accomplissements') }}
                        </div>
                        <div>
                            {{ form_widget(form.achievement, {'attr': {'class': "form-control input-field", 'placeholder': "Exemple : 1ère place aux IEM Katowice de CS:GO 2018"}}) }}
                            {{ form_errors(form.achievement) }}
                        </div>
                    </div>
                </div>
                <!--End Activity's Achievement-->

                <!--Activity's Social Link-->
                <div class="row">
                    <div class="col-sm-12 mt-20">
                        <div class="input-no-border">
                            <i class="fas fa-user-friends"></i>{{ form_label(form.socialLink, 'Vos réseaux sociaux') }}
                        </div>
                        <div>
                            {{ form_widget(form.socialLink, {'attr': {'class': "form-control input-field", 'placeholder': "Exemple : https://www.twitch.tv/gallibellum"}}) }}
                            {{ form_errors(form.socialLink) }}
                        </div>
                    </div>
                </div>
                <!--End Activity's Social Link-->

                <!--Activity's Description-->
                <div class="row">
                    <div class="col-sm-12 mt-20">
                        <div class="input-no-border">
                            <i class="fas fa-edit"></i>{{ form_label(form.description, 'Description') }}
                        </div>
                        <div>
                            {{ form_widget(form.description, {'attr': {'class': "form-control input-field", 'placeholder': "Maximum 250 caractères"}}) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                </div>
                <!--End Activity's Description-->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <br>
                        <input type="submit" value="Enregistrer" class="btn btn-primary backblue-btn">
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row subtitle-boxing-canvas">
            <!-- Forgotten password -->
            <div class="col-sm-12 forgotten-password normal-subtitle-text">
                <i class="fas fa-reply"></i>&nbsp;
                <a href="{{ path('dashboard_index') }}" class="five-color"> Retourner sur votre tableau de bord ?</a>
            </div>
            <!-- End forgotten password -->
        </div>
    </div>
{% endblock %}
