{# app/Resources/views/activity/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer votre activité{% endblock %}

{% block stylesheets %}

    <!--Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/activity.css') }}">
{% endblock %}

{% block header %}
    <!--PASSED W3C VALIDATOR https://validator.w3.org/-->
    <!--Zero intern console warning-->

    <!--Navbar in views/base.html.twig-->
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="activity" class="light-blue-subtitle-text">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Return to the dashboard -->
                        <ol class="breadcrumb breadcrumb-boxing-canvas">
                            <li><i class="fas fa-reply degradeblue"></i>&nbsp;
                                <a href="{{ path('dashboard_index') }}" class="degradeblue">Retourner sur votre tableau de bord</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row boxing-canvas">
                    <!--1st part of the new form-->
                    <!--New form-->
                    {{ form_start(form) }}
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="col-sm-12 text-center">
                            <i class="fas fa-desktop degradeblue" style="font-size: 50px"></i>
                            <h5 class="degradeblue text-center mt-10">Créer votre activité</h5>
                        </div>
                        <div class="row">
                            <!--Activity's Type-->
                            <div class="col-sm-6 mt-20">
                                <div class="form-group form-error">
                                    <i class="fas fa-gamepad"></i>{{ form_label(form.type, 'Type de votre activité') }}
                                    {{ form_widget(form.type, {'attr': {'class': "form-control input-field activity"}}) }}
                                    {{ form_errors(form.type) }}
                                </div>
                            </div>
                            <!--End activity's Type-->

                            <!--Activity's Name-->
                            <div class="col-sm-6 mt-20">
                                <div class="form-group form-error">
                                    <i class="fas fa-university"></i>{{ form_label(form.name, 'Nom de votre activité') }}
                                    {{ form_widget(form.name, {'attr': {'class': "form-control input-field", 'placeholder': "Exemple : Lyon eSport"}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                        </div>
                        <!--End activity's Name-->

                        <!--Activity's Address-->
                        <div class="row">
                            <div class="col-sm-12 mt-20 activityAddress activityHide">
                                <div class="form-group form-error">
                                    <i class="fas fa-map-marker"></i>{{ form_label(form.address, 'Adresse de votre évènement') }}
                                    {{ form_widget(form.address, {'attr': {'class': "form-control input-field activityAddress"}}) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </div>
                        </div>
                        <!--End Activity's Address-->

                        <!--Activity's Date-->
                        <div class="row">
                            <div class="col-sm-6 mt-20 activityDate activityHide">
                                <div class="form-group form-error">
                                    <i class="fas fa-calendar-alt"></i>{{ form_label(form.dateStart, 'Date de votre évènement') }}
                                    {{ form_widget(form.dateStart, {'attr': {'class': "form-control input-field activityDate"}}) }}
                                    {{ form_errors(form.dateStart) }}
                                </div>
                            </div>
                            <div class="col-sm-6 mt-20 activityDate activityHide">
                                <div class="form-group form-error">
                                    <i class="fas fa-calendar-alt"></i>{{ form_label(form.dateEnd, 'Date de votre évènement') }}
                                    {{ form_widget(form.dateEnd, {'attr': {'class': "form-control input-field activityDate"}}) }}
                                    {{ form_errors(form.dateEnd) }}
                                </div>
                            </div>
                        </div>
                        <!--End Activity's Date-->

                        <!--Activity's Url Video-->
                        <div class="row">
                            <div class="col-sm-12 mt-20">
                                <div class="form-group form-error">
                                    <i class="fas fa-link"></i>{{ form_label(form.urlVideo, 'Url') }}
                                    {{ form_widget(form.urlVideo, {'attr': {'class': "form-control input-field", 'placeholder': "Partager une vidéo de présentation de votre activité"}}) }}
                                    {{ form_errors(form.urlVideo) }}
                                </div>
                            </div>
                        </div>
                        <!--End Activity's Url Video-->

                        <!--Activity's Achievement-->
                        <div class="row">
                            <div class="col-sm-12 mt-20 activityAchievement activityHide">
                                <div class="form-group form-error">
                                    <i class="fas fa-trophy"></i>{{ form_label(form.achievement, 'Accomplissements') }}
                                    {{ form_widget(form.achievement, {'attr': {'class': "form-control input-field activityAchievement", 'placeholder': "Exemple : 1ère place aux IEM Katowice de CS:GO 2018"}}) }}
                                    {{ form_errors(form.achievement) }}
                                </div>
                            </div>
                        </div>
                        <!--End Activity's Achievement-->

                        <!--Activity's Social Link-->
                        <div class="row">
                            <div class="col-sm-12 mt-20">
                                <div class="form-group form-error">
                                    <i class="fas fa-user-friends"></i>{{ form_label(form.socialLink, 'Réseaux sociaux et chaînes de streaming') }}
                                    {{ form_widget(form.socialLink, {'attr': {'class': "form-control input-field", 'placeholder': "Exemple : https://www.twitch.tv/gallibellum"}}) }}
                                    {{ form_errors(form.socialLink) }}
                                </div>
                            </div>
                        </div>
                        <!--End Activity's Social Link-->

                        <!--Activity's Description-->
                        <div class="row">
                            <div class="col-sm-12 mt-20">
                                <div class="form-group form-error">
                                    <i class="fas fa-edit"></i>{{ form_label(form.description, 'Description') }}
                                    {{ form_widget(form.description, {'attr': {'class': "form-control input-field", 'placeholder': "Décrivez votre activité aux différentes marques (Maximum 250 caractères)"}}) }}
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                        </div>
                        <!--End Activity's Description-->

                        <div class="row mt-10">
                            <div class="col-sm-12 text-center">
                                <input type="submit" value="Enregistrer" class="btn btn-primary backblue-btn">
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <!--Footer in views/base.html.twig-->
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/input_display.js') }}"></script>
{% endblock %}
