{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activity</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ activity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ activity.name }}</td>
        </tr>
        <tr>
            <th>Namecanonical</th>
            <td>{{ activity.nameCanonical }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ activity.type }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ activity.description }}</td>
        </tr>
        <tr>
            <th>Date Start</th>
            <td>{% if activity.dateStart %}{{ activity.dateStart|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Date End</th>
            <td>{% if activity.dateEnd %}{{ activity.dateEnd|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ activity.address }}</td>
        </tr>
        <tr>
            <th>Maingame</th>
            <td>{{ activity.mainGame }}</td>
        </tr>
        <tr>
            <th>Urlvideo</th>
            <td>{{ activity.urlVideo }}</td>
        </tr>
        <tr>
            <th>Achievement</th>
            <td>{% if activity.achievement %}{{ activity.achievement|join(', ') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Sociallink</th>
            <td>{% if activity.socialLink %}{{ activity.socialLink|join(', ') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Upload PDF</th>
            <td><a href="{{ asset('/uploads/pdf/organization_' ~ organization_id ~'/activity/' ~ activity.uploadPdf) }}">View brochure (PDF)</a></td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dashboard_index') }}">Revenir au Dashboard</a>
        </li>
        <li>
            <a href="{{ path('activity_edit', { 'id': activity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
