{% extends 'base.html.twig' %}

{% block title %}Détail de l'activité{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/activity_show.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row boxing-canvas mt-40 mb-20">
            <div class="col-md-3">
                <h5>{{ activity.organizationActivities.name }}</h5>
                <p>{{ activity.organizationActivities.status }}</p>
                <p>{{ activity.organizationActivities.relationNumber }} salariés</p>
                <p>{{ activity.organizationActivities.address }}</p>
            </div>
            <div class="col-md-8 description-text">
                <p>{{ activity.organizationActivities.description }}</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-9">
                <div class="boxing-canvas">
                    <h5 class="text-center mb-30">{{ activity.name }} - {{ activity.type }}</h5>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="myIframe" src=""></iframe>
                    </div>
                    <p class="boxing-text">{{ activity.description }}</p>

                    <div class="boxing-body">
                        <h6 class="title"><strong>Accomplissements :</strong></h6>
                        <ul class="list-unstyled">
                            <li>{% if activity.achievement %}{{ activity.achievement|join(', ') }}{% endif %}</li>
                        </ul>
                    </div>

                    {#
                    <th>Date Start</th>
                    <td>{% if activity.dateStart %}{{ activity.dateStart|date('d-m-Y') }}{% endif %}</td>
                    <th>Date End</th>
                    <td>{% if activity.dateEnd %}{{ activity.dateEnd|date('d-m-Y') }}{% endif %}</td>
                    <th>Address</th>
                    <td>{{ activity.address }}</td>
                    #}

                    <a href="{{ asset('/uploads/pdf/organization_' ~ activity.OrganizationActivities.id ~'/activity/' ~ activity.uploadPdf) }}">Pdf de présentation</a>

                    <div class="boxing-body">
                        <h6 class="title"><strong>Sociaux : </strong></h6>
                        <ul class="list-group">
                            <li class="list-group-item">twitch :
                                <a href="{% if activity.socialLink %}{{ activity.socialLink|join('<br>') }}{% endif %}">
                                    {% if activity.socialLink %}{{ activity.socialLink| join('<br>') }}{% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="">
                    <!-- Loop for show information offers -->
                    {% for offer in activity.activities %}
                        <div class="item">
                            <div class="panel panel-default text-center">
                                <h5 class="panel-title pt-10">{{ offer.name }}</h5>
                                <div class="panel-body">
                                    <p class="panel-item"><strong>Montant : </strong>{{ offer.amount }} €</p>
                                    {#<p class="panel-item"><strong>Nombre de partenaire(s) : </strong>{{ offer.partnershipNumber }}</p>#}
                                    <p class="panel-item"><strong>Date d'expiration : </strong>{{ offer.date|date("d M Y") }}</p>
                                    <p class="panel-item">{{ offer.description }}</p>
                                    <a href="{{ path('offer_relation', { 'id': offer.id }) }}" class="btn btn-primary btn-sm">Se mettre en relation</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        var url ="{{ activity.urlVideo }}";
        var id = new URL(url).search.substr(3);
        var embedlink = "http://www.youtube.com/embed/" + id;

        document.getElementById("myIframe").src = embedlink;

    </script>

{% endblock %}
