{% extends 'base.html.twig' %}

{% block title %}Détail de l'activité{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/activity_show.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Message flash -->
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% endfor %}
        </div>
    {% endif %}
    <!-- End flash message -->
    <div class="container">
        <div class="row boxing-canvas mt-40 mb-20">
            <div class="col-md-3">
                <h5>{{ activity.organizationActivities.name }}</h5>
                <p>{{ activity.organizationActivities.status }}</p>
                <p>{{ activity.organizationActivities.relationNumber }} salariés</p>
                <p>{{ activity.organizationActivities.address }}</p>
            </div>
            <div class="col-md-8 description-text">
                {{ activity.organizationActivities.description }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="boxing-canvas">
                    <h5 class="text-center degradeblue mb-30">{{ activity.name }} - {{ activity.type }}</h5>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="myIframe" src=""></iframe>
                    </div>
                    <p class="boxing-text description-text pb-20">{{ activity.description }}</p>

                    {% if activity.achievement is not empty %}
                        <div class="boxing-body">
                            <h6 class="title"><strong>Accomplissements :</strong></h6>
                            <ul class="list-unstyled">
                                <li>{{ activity.achievement }}</li>
                            </ul>
                        </div>
                    {% endif %}

                    {% if activity.uploadPdf is not empty %}
                        <div class="boxing-body">
                            <h6 class="title"><strong>Documents joints :</strong></h6>
                            <ul class="list-unstyled text-center mt-10 mb-20">
                                <li><a href="{{ asset('/uploads/pdf/organization_' ~ activity.OrganizationActivities.id ~ '/activity_' ~ activity.id  ~ '/' ~ activity.uploadPdf) }}">PDF de présentation</a></li>
                            </ul>
                        </div>
                    {% endif %}

                    <div class="boxing-body">
                        <h6 class="title"><strong>Sociaux : </strong></h6>
                        <ul class="list-group">
                            {% for link in activity.socialLink %}
                                {% if 'youtube' in link %}
                                    <li class="list-group-item"><i class="fab fa-youtube"></i> Youtube :
                                        <a href="{{ link }}">
                                            {{ link }}
                                        </a>
                                    </li>
                                {% elseif 'twitch' in link %}
                                    <li class="list-group-item"><i class="fab fa-twitch"></i> Twitch :
                                        <a href="{{ link }}">
                                            {{ link }}
                                        </a>
                                    </li>
                                {% elseif 'twitter' in link %}
                                    <li class="list-group-item"><i class="fab fa-twitter"></i> Twitter :
                                        <a href="{{ link }}">
                                            {{ link }}
                                        </a>
                                    </li>
                                {% elseif 'facebook' in link %}
                                    <li class="list-group-item"><i class="fab fa-facebook-square"></i> Facebook :
                                        <a href="{{ link }}">
                                            {{ link }}
                                        </a>
                                    </li>
                                {% elseif 'instagram' in link %}
                                    <li class="list-group-item"><i class="fab fa-instagram"></i> Instagram :
                                        <a href="{{ link }}">
                                            {{ link }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="list-group-item"><i class="fas fa-globe"></i> Autres :
                                        <a href="{{ link }}">
                                            {{ link }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% if is_granted('ROLE_STRUCTURE') %}
                        <a href="{{ path('activity_edit', { 'id': activity.id }) }}">Modifier l'activité</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="">
                    <!-- Loop for show information offers -->
                    {% if activity.activities is empty %}
                        <div class="item">
                            <div class="panel panel-default text-center">
                                <div class="panel-body">
                                    <p class="bold-text-dark mt-20">Vous n'avez pas d'offre créée pour cette activité !</p>
                                    <a href="{{ path('offer_new', { 'id': activity.id }) }}" class="btn btn-primary backblue-btn-sm mt-10">Créer une offre</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for offer in activity.activities %}
                            <div class="item">
                                <div class="panel panel-default text-center">
                                    <h5 class="panel-title pt-10">{{ offer.name }}</h5>
                                    <div class="panel-body">
                                        <p class="panel-item"><strong>Montant : </strong>{{ offer.amount }} €</p>
                                        {#<p class="panel-item"><strong>Nombre de partenaire(s) : </strong>{{ offer.partnershipNumber }}</p>#}
                                        <p class="panel-item"><strong>Date d'expiration : <br></strong>{{ offer.date|date("d M Y") }}</p>
                                        <p class="panel-item"><strong>Nombre de participant(s) : </strong>{{ offer.PartnershipNumber|length }}</p>
                                        <p class="panel-item">{{ offer.description|slice(0,50) }}...</p>
                                        {% if is_granted('ROLE_STRUCTURE') %}
                                            <a href="{{ path('offer_edit', { 'id': offer.id }) }}" class="btn btn-primary backblue-btn-sm" >Modifier l'offre</a>
                                        {% else %}
                                            <a href="{{ path('contract_relation', { 'id': offer.id }) }}" class="btn btn-primary backblue-btn-sm">Se mettre en relation</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        let url ="{{ activity.urlVideo }}";
        let id = new URL(url).search.substr(3);
        let embedlink = "http://www.youtube.com/embed/" + id;

        document.getElementById("myIframe").src = embedlink;
    </script>

{% endblock %}
