{% extends 'base.html.twig' %}

{% block title %}Détaile de l'activité{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/activity_show.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="boxing-title">
        <ul class="list-unstyled">
            <li>{{ activity.organizationActivities.name }}</li>
            <li>{{ activity.organizationActivities.status }}</li>
            <li>{{ activity.organizationActivities.description }}</li>
            <li>{{ activity.organizationActivities.relationNumber }} salariés</li>
            <li>{{ activity.organizationActivities.address }}</li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <table>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ activity.name }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ activity.type }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ activity.description }}</td>
                    </tr>
                    <tr>
                        <th>Date Start</th>
                        <td>{% if activity.dateStart %}{{ activity.dateStart|date('d-m-Y') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date End</th>
                        <td>{% if activity.dateEnd %}{{ activity.dateEnd|date('d-m-Y') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ activity.address }}</td>
                    </tr>
                    <tr>
                        <th>Maingame</th>
                        <td>{{ activity.mainGame }}</td>
                    </tr>
                    <tr>
                        <th>Urlvideo</th>
                        <td>{{ activity.urlVideo }}</td>
                    </tr>
                    <tr>
                        <th>Achievement</th>
                        <td>{% if activity.achievement %}{{ activity.achievement|join(', ') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Sociallink</th>
                        <td>{% if activity.socialLink %}{{ activity.socialLink|join(', ') }}{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <!-- Loop for show information offers -->
                {% for offer in activity.activities %}
                    <div class="item">
                        <div class="panel panel-default text-center">
                            <h5 class="panel-title pt-10">{{ offer.name }}</h5>
                            <div class="panel-body">
                                <p class="panel-item"><strong>Montant : </strong>{{ offer.amount }} €</p>
                                <p class="panel-item"><strong>Dépôt des fonds avant le : </strong>{{ offer.date|date("d M Y") }}</p>
                                <a href="{{ path('offer_show', { 'id': offer.id }) }}" class="btn btn-primary btn-sm">Plus de détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
