{% extends 'base.html.twig' %}

{% block title %}Détaile de l'activité{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/activity_show.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default mt-20">
            <div class="panel-body">
                <h3 class="panel-title">{{ activity.organizationActivities.name }}</h3>
                <p>{{ activity.organizationActivities.status }}</p>
                <p>{{ activity.organizationActivities.description }}</p>
                <p>{{ activity.organizationActivities.relationNumber }} salariés</p>
                <p>{{ activity.organizationActivities.address }}</p>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-md-9 panel panel-default activity">
                <div class="description">
                    <h5 class="text-center pt-20 pb-30">{{ activity.name }} - {{ activity.type }}</h5>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="myIframe" src=""></iframe>
                    </div>
                    <p>{{ activity.description }}</p>
                </div>
                <div class="achevement">
                    <p>Accomplissements :</p>
                    <p>{% if activity.achievement %}{{ activity.achievement|join(', ') }}{% endif %}</p>
                </div>

                {#
                <th>Date Start</th>
                <td>{% if activity.dateStart %}{{ activity.dateStart|date('d-m-Y') }}{% endif %}</td>
                <th>Date End</th>
                <td>{% if activity.dateEnd %}{{ activity.dateEnd|date('d-m-Y') }}{% endif %}</td>
                <th>Address</th>
                <td>{{ activity.address }}</td>
                #}

                <p>Maingame</p>
                <p>{{ activity.mainGame }}</p>

                {#
                <hr>
                <th>Document join</th>
                <td>{{ activity.uploadPdf }}</td>
                #}
                <p>Réseaux Sociaux</p>
                <p>twitch : <a href="{% if activity.socialLink %}{{ activity.socialLink|join(', ') }}{% endif %}">{% if activity.socialLink %}{{ activity.socialLink|join(', ') }}{% endif %}</a></p>
            </div>

            <div class="col-md-3 pr-0">
                <div class="boxing-canvas">
                    <div class="boxing-body">
                        <!-- Loop for show information offers -->
                        {% for offer in activity.activities %}
                            <div class="item">
                                <div class="panel panel-default text-center">
                                    <h5 class="panel-title pt-10">{{ offer.name }}</h5>
                                    <div class="panel-body">
                                        <p class="panel-item"><strong>Montant : </strong>{{ offer.amount }} €</p>
                                        <p class="panel-item"><strong>Date d'expiration : </strong>{{ offer.date|date("d M Y") }}</p>
                                        <p class="panel-item">{{ offer.description }}</p>
                                        <a href="{{ path('offer_show', { 'id': offer.id }) }}" class="btn btn-primary btn-sm">Se mettre en relation</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        var url ="{{ activity.urlVideo }}";
        var id = new URL(url).search.substr(3);
        var embedlink = "http://www.youtube.com/embed/" + id;

        document.getElementById("myIframe").src = embedlink;

    </script>

{% endblock %}